## Sets

- collection of mixed data
- inside curly brackets
- unordered
- does not allow duplicates

In [9]:
S = {2,3.5,67,"Shantanu",4,(1,2,3)}
S

{(1, 2, 3), 2, 3.5, 4, 67, 'Shantanu'}

In [52]:
S = {3,5,3,9,1,2,4}
S

{1, 2, 3, 4, 5, 9}

In [31]:
basket = {"apple", "orange", "peer", "orange", "banana"}
basket

{'apple', 'banana', 'orange', 'peer'}

In [55]:
basket.pop()
basket

{'apple', 'banana', 'peer'}

In [32]:
print(S,type(S.add(34)))

{1, 2, 3, 4, 5, 34, 9} <class 'NoneType'>

In [33]:
S.remove(34)
S

{1, 2, 3, 4, 5, 9}

In [34]:
S.discard(3)
S

{1, 2, 4, 5, 9}

In [49]:
S.pop()

1

In [51]:
S

{2, 3, 4, 5, 9}

In [53]:
print(S.union(basket))

{1, 2, 3, 4, 5, 'orange', 9, 'peer', 'apple', 'banana'}

In [54]:
print(S.intersection(basket))

set()

### Dictionary vs JSON

In [59]:
import json

dict = {
    "fName": 'Shantanu',
    "lName": 'Mane',
    "age": 19,
    "gender": 'M'
}

jSON = json.dumps(dict,indent = 4)
jSON

'{\n    "fName": "Shantanu",\n    "lName": "Mane",\n    "age": 19,\n    "gender": "M"\n}'