## Tuple

- ordered sequence of mixed datatype
- coma separated elements in parenthesis

In [3]:
T = (1,2,3,4)
print(T)
type(T)

(1, 2, 3, 4)

tuple

In [4]:
L = [2,4,5,1,3]
print(L, type(L))

[2, 4, 5, 1, 3] <class 'list'>

In [2]:
T = ("Shantanu", 19, 169.5)
T

('Shantanu', 19, 169.5)

In [3]:
T[0]

'Shantanu'

In [4]:
T[1]

19

In [5]:
T[2]

169.5

In [6]:
T[0] = "Male"

TypeError: 'tuple' object does not support item assignment

In [2]:
newT = ()
type(newT)

tuple

In [12]:
nestedTuple = (3,4,("Shantanu", 169.5), [1,2,True])

In [4]:
nestedTuple[2]

('Shantanu', 169.5)

In [13]:
print(nestedTuple[3])
nestedTuple[3][2]

[1, 2, True]

True

In [14]:
nestedTuple[3][1] = 14
nestedTuple

(3, 4, ('Shantanu', 169.5), [1, 14, True])