# <center> Shri Ramdeobaba College of Engineering and Management, Nagpur</center>
## <center>Department of Computer Science Engineering</center>
## <center>Python Programming LAB (CAP 201) (2021-2022)</center>
## <center>Lab Assignment 3 (II)</center>

---

#### <strong>Name : </strong> <em>Shantanu Mane</em>
#### <strong>Roll Number : </strong> <em>63 (E-4)</em>
#### <strong>Section : </strong> <em>E (AIML)</em>
#### <strong>Date : </strong> <em>12<sup>th</sup> December 2021</em>

In [8]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

## Get details of the oldest Employee

In [9]:
# Type your code here
maxAge = 0

for EmpKey, EmpVal in Employee_data.items():
    if EmpVal[1] > maxAge:
        maxAge = EmpVal[1]

for EmpKey, EmpVal in Employee_data.items():
    if EmpVal[1] == maxAge:
        print(EmpKey,EmpVal)

105 ['Huzefa', 32, 'Project Manager']

#### Identify the age of the employee with employee id 159 [ If the employee isn't present return NA]

- 25
- 32
- NA
- 42

In [10]:
# Type your code here
try:
    print(Employee_data[159])
except KeyError:
    print("NA")

#* Option C is correct

NA

#### Count the total number of employee in the organization

In [11]:
# Type your code here

totEmp = len(Employee_data)
print(totEmp)

5

#### Calculate the mean age of the employees

- 31.36
- 36.48
- 27.66
- 32.47

In [12]:
dictLen = len(Employee_data)
empList = Employee_data.values()

sumAge = 0

for i in empList:
    sumAge += i[1]

print(f"Mean Age : {sumAge/dictLen}")

#* Option C is correct

Mean Age : 27.6

#### Perform the following two tasks and then calculate the updated mean age of the employees
Task1 Update the ages of employee id - 104,140, and 164 as 27 <br>

In [13]:
# Type your code here
Employee_data[104][1] = 27
Employee_data[140] = ['', 27, '']
Employee_data[164] = ['', 27, '']

In [14]:
print(Employee_data)

{101: ['Shiva', 24, 'Content Strategist'], 102: ['Udit', 25, 'Content Strategist'], 103: ['Sonam', 28, 'Sr Manager'], 104: ['Ansari', 27, 'Product Lead'], 105: ['Huzefa', 32, 'Project Manager'], 140: ['', 27, ''], 164: ['', 27, '']}