In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from urllib.request import urlopen
from bs4 import BeautifulSoup
import re

In [2]:
url = 'https://hubertiming.com/results/2018MLK'

html = urlopen(url)

In [4]:
soup = BeautifulSoup(html)
soup

<!DOCTYPE html>
<html><head>






    <meta content="Race results for the 2018 MLK Dream Run!" property="og:title"/>
    <meta content="Results of the 2018 MLK Dream Run at Soul District in Portland, OR" property="og:description"/>
    <meta content="https://www.hubertiming.com/results/2018MLKDreamRun.jpg" property="og:image"/>

    <meta content="https://www.hubertiming.com/results/2018MLK" property="og:url"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

    <title>Race results for the 2018 MLK Dream Run!</title>

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"/>

    <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet"/>
    <link href="//cdn.rawgit.com/noelboss/featherlight/1.7.11/release/featherlight.min.css" rel="stylesheet" type="text/css"/>

    <link href="//cdn.rawgit.com/noelboss/featherlight/1.7.11/release/featherlight.gallery.min.css" rel="stylesheet" type="text/css"/>

    <link href="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/smoothness/jquery-ui.css" rel="Stylesheet"/>

    <link href="/Content/results.css" rel="stylesheet" type="text/css"/>


</head>
<body>

    <div id="fb-root"></div>
    <script async="" crossorigin="anonymous" defer="" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v7.0&amp;appId=717067621682602&amp;autoLogAppEvents=1"></script>



    <div class="container-fluid">
        <div class="row">


            <!-- column of race logo -->
            <div class="col-12 col-md-6 noprint">
                <img alt="2018 MLK Dream Run Logo" class="img-responsive mx-auto d-block" src="https://www.hubertiming.com/results/2018MLKDreamRun.jpg" style="padding-top: 10px; max-width: 100%; height: auto; padding-bottom: 10px;"/>
            </div>

            <!-- column of race details -->
            <div class="col-9 col-md-5">
                <div class="row" style="padding-top: 10px">



                    <p style="text-align: left">
                        <big>
                            <span aria-hidden="true" class="fas fa-flag"></span> 2018 MLK Dream Run 5K<br/>
                            <span aria-hidden="true" class="fas fa-map-marker-alt"></span> Soul District, Portland, OR <br/>
                            <span aria-hidden="true" class="far fa-calendar-alt"></span> September 23rd, 2018


                            <br/>
                                    <span aria-hidden="true" class="fas fa-home"></span> <a href="https://www.mlkdreamrun.com/" target="_blank">MLK Dream Run</a>
                                    <br/>

                        </big>
                    </p>
                </div>

                <div class="row" style="margin-top: 5%">
                    <p class="text-left">
                        <span class="fa fa-comment"></span> Email
                        <a href="mailto:timing@hubertiming.com">timing@hubertiming.com</a> with results questions. Please include your bib number if you have it.


                    </p>
                </div>
            </div>

                <!-- column of race results-->
                <div class="col-3 col-md-1 pull-right" style="text-align: right; margin-top: 10px;">
                    <!-- row of HT Home link -->
                    <p class="text-xs-right">
                        <small><a href="https://www.hubertiming.com">Huber Timing Home</a></small>
                    </p>

                    <!-- row of finisher summary -->
                        <b>5K:</b><table class="pull-right text-xs-right" style="float:right">
                            <tbody>
                                        <tr colspan="2">

                                        </tr>
                            <tr>
                                        <td>Finishers:</td>


                                <td>191</td>
                            </tr>
                                                <tr>
                                                    <td>Male:</td>
                                                    <td>78</td>
                                                </tr>
                                                <tr>
                                                    <td>Female:</td>
                                                    <td>113</td>
                                                </tr>

                            </tbody>
                        </table>

                </div>

        </div>
    </div>

    <span class="noprint">



    </span>





<div class="text-center" style="margin-top:0px; text-align: center;">

                        <button class="btn btn-secondary btn-lg" disabled="disabled" style="margin: 0px 0px 5px 5px" type="button"><i aria-hidden="true" class="fa fa-user"></i> 5K</button>

                        <a class="btn btn-primary btn-lg" href="/results/2018MLK10K" role="button" style="margin: 0px 0px 5px 5px"><i aria-hidden="true" class="fa fa-user"></i> 10K</a>

                        <a class="btn btn-primary btn-lg" href="/results/2018MLK15K" role="button" style="margin: 0px 0px 5px 5px"><i aria-hidden="true" class="fa fa-user"></i> 15K</a>

                    <a class="btn btn-primary btn-lg" href="/results/summary/2018MLK" role="button" style="margin: 0px 0px 5px 5px"><i class="fa fa-stream"></i> Summary</a>

</div>

    <script src="/lib/jquery-3.4.1.min.js"></script>


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js" type="text/javascript"></script>


<a id="individual" name="individual"></a>
<div id="tabs">
    <ul>
        <li><a data-url="/results/2018MLK" href="#tabs-1" id="rootTab" style="font-size: 18px">5K Results</a></li>
    </ul>

    <div id="tabs-1">
                <form action="#individual">
                    <b>Search:</b>
                    <input name="search" placeholder="Enter name or bib" style="width:200px" value=""/>
                    <button class="btn btn-medium btn-primary">Search</button>
                        <b>Division:</b>
<select id="DivisionFilter" name="DivisionFilter"><option value=""></option>
<option value="Men">Men</option>
<option value="Women">Women</option>
<option value="Non Binary">Non Binary</option>
<option value="Masters Men">Masters Men</option>
<option value="Masters Women">Masters Women</option>
<option value="Masters Non Binary">Masters Non Binary</option>
<option value=""></option>
<option value="F 20 and Under">F 20 and Under</option>
<option value="F 21-39">F 21-39</option>
<option value="F 40-54">F 40-54</option>
<option value="F 55+">F 55+</option>
<option value="M 20 and Under">M 20 and Under</option>
<option value="M 21-39">M 21-39</option>
<option value="M 40-54">M 40-54</option>
<option value="M 55+">M 55+</option>
</select>                    <button class="btn btn-medium btn-primary">Filter</button>
                </form>




        <table class="table table-striped table-hover ht-table table-responsive-md table-bordered" id="individualResults">
            <thead>
                <tr class="header">
                                <th>Place</th>
                                <th>Bib</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Age</th>
                                <th>City</th>
                                <th>Chip Time</th>
                                <th>Chip Pace</th>
                                <th>Gender Place</th>
                                <th>Age Group</th>
                                <th>Age Group Place</th>
                                <th>Time to Start</th>
                                <th>Gun Time</th>

                </tr>
            </thead>
            <tbody>
    <tr data-bib="1191">
                    <td>1</td>
                    <td>1191</td>
                <td>

                    MAX RANDOLPH

                </td>
                    <td>M</td>
                    <td>29</td>
                    <td>WASHINGTON</td>
                    <td>16:48</td>
                    <td>5:25</td>
                <td>

                    1 of 78

                </td>
                    <td>M 21-39</td>
                <td>

                    1 of 33

                </td>
                    <td>0:08</td>
                    <td>16:56</td>
    </tr>
    <tr data-bib="1080">
                    <td>2</td>
                    <td>1080</td>
                <td>

                    NEED NAME KAISER RUNNER

                </td>
                    <td>M</td>
                    <td>25</td>
                    <td>PORTLAND</td>
                    <td>17:31</td>
                    <td>5:39</td>
                <td>

                    2 of 78

                </td>
                    <td>M 21-39</td>
                <td>

                    2 of 33

                </td>
                    <td>0:09</td>
                    <td>17:40</td>
    </tr>
    <tr data-bib="1275">
                    <td>3</td>
                    <td>1275</td>
                <td>

                    DAN FRANEK

                </td>
                    <td>M</td>
                    <td>52</td>
                    <td>PORTLAND</td>
                    <td>18:15</td>
                    <td>5:53</td>
                <td>

                    3 of 78

                </td>
                    <td>M 40-54</td>
                <td>

                    1 of 27

                </td>
                    <td>0:07</td>
                    <td>18:22</td>
    </tr>
    <tr data-bib="1223">
                    <td>4</td>
                    <td>1223</td>
                <td>

                    PAUL TAYLOR

                </td>
                    <td>M</td>
                    <td>54</td>
                    <td>PORTLAND</td>
                    <td>18:31</td>
                    <td>5:58</td>
                <td>

                    4 of 78

                </td>
                    <td>M 40-54</td>
                <td>

                    2 of 27

                </td>
                    <td>0:07</td>
                    <td>18:38</td>
    </tr>
    <tr data-bib="1245">
                    <td>5</td>
                    <td>1245</td>
                <td>

                    THEO KINMAN

                </td>
                    <td>M</td>
                    <td>22</td>
                    <td></td>
                    <td>19:31</td>
                    <td>6:17</td>
                <td>

                    5 of 78

                </td>
                    <td>M 21-39</td>
                <td>

                    3 of 33

                </td>
                    <td>0:09</td>
                    <td>19:40</td>
    </tr>
    <tr data-bib="1185">
                    <td>6</td>
                    <td>1185</td>
                <td>

                    MELISSA GIRGIS

                </td>
                    <td>F</td>
                    <td>27</td>
                    <td>PORTLAND</td>
                    <td>19:39</td>
                    <td>6:20</td>
                <td>

                    1 of 113

                </td>
                    <td>F 21-39</td>
                <td>

                    1 of 53

                </td>
                    <td>0:07</td>
                    <td>19:46</td>
    </tr>
    <tr data-bib="1251">
                    <td>7</td>
                    <td>1251</td>
                <td>

                    CHARLIE COGGESHALL

                </td>
                    <td>M</td>
                    <td>39</td>
                    <td>PORTLAND</td>
                    <td>19:51</td>
                    <td>6:24</td>
                <td>

                    6 of 78

                </td>
                    <td>M 21-39</td>
                <td>

                    4 of 33

                </td>
                    <td>0:10</td>
                    <td>20:01</td>
    </tr>
    <tr data-bib="1154">
                    <td>8</td>
                    <td>1154</td>
                <td>

                    UNKNOWN RUNNER SEE TIMER

                </td>
                    <td>M</td>
                    <td></td>
                    <td></td>
                    <td>24:58</td>
                    <td>8:03</td>
                <td>

                    7 of 78

                </td>
                    <td></td>
                <td>

                    1 of 9

                </td>
                    <td>2:00</td>
                    <td>26:58</td>
    </tr>
    <tr data-bib="1163">
                    <td>9</td>
                    <td>1163</td>
                <td>

                    UNKNOWN RUNNER SEE TIMER

                </td>
                    <td>M</td>
                    <td></td>
                    <td></td>
                    <td>25:01</td>
                    <td>8:04</td>
                <td>

                    8 of 78

                </td>
                    <td></td>
                <td>

                    2 of 9

                </td>
                    <td>1:59</td>
                    <td>27:00</td>
    </tr>
    <tr data-bib="1242">
                    <td>10</td>
                    <td>1242</td>
                <td>

                    KIMONTI WILSON

                </td>
                    <td>F</td>
                    <td>48</td>
                    <td></td>
                    <td>25:01</td>
                    <td>8:04</td>
                <td>

                    2 of 113

                </td>
                    <td>F 40-54</td>
                <td>

                    1 of 37

                </td>
                    <td>1:59</td>
                    <td>27:00</td>
    </tr>
    <tr data-bib="1017">
                    <td>11</td>
                    <td>1017</td>
                <td>

                    COREY MCMANUS

                </td>
                    <td>M</td>
                    <td>37</td>
                    <td>BEAVERTON</td>
                    <td>25:17</td>
                    <td>8:09</td>
                <td>

                    9 of 78

                </td>
                    <td>M 21-39</td>
                <td>

                    5 of 33

                </td>
                    <td>0:22</td>
                    <td>25:39</td>
    </tr>
    <tr data-bib="1112">
                    <td>12</td>
                    <td>1112</td>
                <td>

                    MITCHELL JOHNSON

                </td>
                    <td>M</td>
                    <td>25</td>
                    <td>PORTLAND</td>
                    <td>25:31</td>
                    <td>8:13</td>
                <td>

                    10 of 78

                </td>
                    <td>M 21-39</td>
                <td>

                    6 of 33

                </td>
                    <td>0:15</td>
                    <td>25:46</td>
    </tr>
    <tr data-bib="1062">
                    <td>13</td>
                    <td>1062</td>
                <td>

                    ALEX KABA

                </td>
                    <td>M</td>
                    <td>36</td>
                    <td>PORTLAND</td>
                    <td>25:31</td>
                    <td>8:14</td>
                <td>

                    11 of 78

                </td>
                    <td>M 21-39</td>
                <td>

                    7 of 33

                </td>
                    <td>0:14</td>
                    <td>25:45</td>
    </tr>
    <tr data-bib="1227">
                    <td>14</td>
                    <td>1227</td>
                <td>

                    ROBYN MCGILLIS

                </td>
                    <td>F</td>
                    <td>44</td>
                    <td>PORTLAND</td>
                    <td>25:44</td>
                    <td>8:18</td>
                <td>

                    3 of 113

                </td>
                    <td>F 40-54</td>
                <td>

                    2 of 37

                </td>
                    <td>0:08</td>
                    <td>25:52</td>
    </tr>
    <tr data-bib="1067">
                    <td>15</td>
                    <td>1067</td>
                <td>

                    MITCHELL WARDEN

                </td>
                    <td>M</td>
                    <td>29</td>
                    <td>PORTLAND</td>
                    <td>25:46</td>
                    <td>8:19</td>
                <td>

                    12 of 78

                </td>
                    <td>M 21-39</td>
                <td>

                    8 of 33

                </td>
                    <td>0:14</td>
                    <td>26:00</td>
    </tr>
    <tr data-bib="1136">
                    <td>16</td>
                    <td>1136</td>
                <td>

                    JULIA METZ

                </td>
                    <td>F</td>
                    <td>32</td>
                    <td>PORTLAND</td>
                    <td>26:31</td>
                    <td>8:33</td>
                <td>

                    4 of 113

                </td>
                    <td>F 21-39</td>
                <td>

                    2 of 53

                </td>
                    <td>0:33</td>
                    <td>27:04</td>
    </tr>
    <tr data-bib="1199">
                    <td>17</td>
                    <td>1199</td>
                <td>

                    JEREMY AREZZINI

                </td>
                    <td>M</td>
                    <td>38</td>
                    <td>LAKE OSWEGO</td>
                    <td>26:44</td>
                    <td>8:37</td>
                <td>

                    13 of 78

                </td>
                    <td>M 21-39</td>
                <td>

                    9 of 33

                </td>
                    <td>0:41</td>
                    <td>27:25</td>
    </tr>
    <tr data-bib="1252">
                    <td>18</td>
                    <td>1252</td>
                <td>

                    ETHAN POWELL

                </td>
                    <td>M</td>
                    <td></td>
                    <td></td>
                    <td>26:52</td>
                    <td>8:40</td>
                <td>

                    14 of 78

                </td>
                    <td></td>
                <td>

                    3 of 9

                </td>
                    <td>0:11</td>
                    <td>27:03</td>
    </tr>
    <tr data-bib="1231">
                    <td>19</td>
                    <td>1231</td>
                <td>

                    TIMOTHY KEARNEY

                </td>
                    <td>M</td>
                    <td>42</td>
                    <td>PORTLAND</td>
                    <td>26:58</td>
                    <td>8:42</td>
                <td>

                    15 of 78

                </td>
                    <td>M 40-54</td>
                <td>

                    3 of 27

                </td>
                    <td>0:11</td>
                    <td>27:09</td>
    </tr>
    <tr data-bib="1108">
                    <td>20</td>
                    <td>1108</td>
                <td>

                    TIMOTHY RINGERING

                </td>
                    <td>M</td>
                    <td>50</td>
                    <td>VANCOUVER</td>
                    <td>27:02</td>
                    <td>8:43</td>
                <td>

                    16 of 78

                </td>
                    <td>M 40-54</td>
                <td>

                    4 of 27

                </td>
                    <td>0:10</td>

In [5]:
websiteTitle = soup.title

print(f"title element : {websiteTitle}\ncontent inside title : {websiteTitle.text}")

title element : <title>Race results for the 2018 MLK Dream Run!</title>
content inside title : Race results for the 2018 MLK Dream Run!

In [6]:
allLinks = soup.find_all('a', href=True)

print(f"All the links on the page : \n {allLinks}\n\nDatatype of output : {type(allLinks)} (yeah, but basically a list!)")

All the links on the page :
 [<a href="https://www.mlkdreamrun.com/" target="_blank">MLK Dream Run</a>, <a href="mailto:timing@hubertiming.com">timing@hubertiming.com</a>, <a href="https://www.hubertiming.com">Huber Timing Home</a>, <a class="btn btn-primary btn-lg" href="/results/2018MLK10K" role="button" style="margin: 0px 0px 5px 5px"><i aria-hidden="true" class="fa fa-user"></i> 10K</a>, <a class="btn btn-primary btn-lg" href="/results/2018MLK15K" role="button" style="margin: 0px 0px 5px 5px"><i aria-hidden="true" class="fa fa-user"></i> 15K</a>, <a class="btn btn-primary btn-lg" href="/results/summary/2018MLK" role="button" style="margin: 0px 0px 5px 5px"><i class="fa fa-stream"></i> Summary</a>, <a data-url="/results/2018MLK" href="#tabs-1" id="rootTab" style="font-size: 18px">5K Results</a>, <a href="https://www.hubertiming.com/"><img height="65" src="https://www.hubertiming.com//sites/all/themes/hubertiming/images/clockWithFinishSign_small.png" width="50"/>Huber Timing</a>, <a href="https://facebook.com/hubertiming/"><img src="https://www.hubertiming.com/results/FB-f-Logo__blue_50.png"/></a>]

Datatype of output : <class 'bs4.element.ResultSet'> (yeah, but basically a list!)

In [7]:
for link in allLinks:
    print(link['href']) # or link.get('href')

https://www.mlkdreamrun.com/
mailto:timing@hubertiming.com
https://www.hubertiming.com
/results/2018MLK10K
/results/2018MLK15K
/results/summary/2018MLK
#tabs-1
https://www.hubertiming.com/
https://facebook.com/hubertiming/

In [8]:
allRows = soup.find_all("tr")

#! Participants starting from index 5

allRows[5].prettify()

'<tr data-bib="1191">\n <td>\n  1\n </td>\n <td>\n  1191\n </td>\n <td>\n  MAX RANDOLPH\n </td>\n <td>\n  M\n </td>\n <td>\n  29\n </td>\n <td>\n  WASHINGTON\n </td>\n <td>\n  16:48\n </td>\n <td>\n  5:25\n </td>\n <td>\n  1 of 78\n </td>\n <td>\n  M 21-39\n </td>\n <td>\n  1 of 33\n </td>\n <td>\n  0:08\n </td>\n <td>\n  16:56\n </td>\n</tr>\n'

In [9]:
allRows[5]

<tr data-bib="1191">
                    <td>1</td>
                    <td>1191</td>
                <td>

                    MAX RANDOLPH

                </td>
                    <td>M</td>
                    <td>29</td>
                    <td>WASHINGTON</td>
                    <td>16:48</td>
                    <td>5:25</td>
                <td>

                    1 of 78

                </td>
                    <td>M 21-39</td>
                <td>

                    1 of 33

                </td>
                    <td>0:08</td>
                    <td>16:56</td>
    </tr>

In [10]:
firstContestantRow = allRows[13]

row_list = firstContestantRow.find_all("td")

contestantData = []

for i in range(13):
    contestantData.append(" ".join(row_list[i].text.split()))

print(row_list[9].text.split(" "))

print(contestantData)

['']
['9', '1163', 'UNKNOWN RUNNER SEE TIMER', 'M', '', '', '25:01', '8:04', '8 of 78', '', '2 of 9', '1:59', '27:00']

In [96]:
randomContestantRow = allRows[np.random.randint(5, 150)]

row_list = randomContestantRow.find_all("td")

" ".join(row_list[2].text.split())
row_list[9] = row_list[9].text.split(" ")[1]
row_list[9]

'21-39'

In [126]:
contestantData = []

for cell in allRows[5:]:
    rowEl = cell.find_all("td")
    Data = []

    # rowEl[9] = 

    for i in range(13):
        Data.append(" ".join(rowEl[i].text.split()))
    
    if rowEl[9].text != '':
        Data[9] = rowEl[9].text.split(" ")[1]
    contestantData.append(Data)

for candidate in contestantData:
    print(candidate, end='\n')

['1', '1191', 'MAX RANDOLPH', 'M', '29', 'WASHINGTON', '16:48', '5:25', '1 of 78', '21-39', '1 of 33', '0:08', '16:56']
['2', '1080', 'NEED NAME KAISER RUNNER', 'M', '25', 'PORTLAND', '17:31', '5:39', '2 of 78', '21-39', '2 of 33', '0:09', '17:40']
['3', '1275', 'DAN FRANEK', 'M', '52', 'PORTLAND', '18:15', '5:53', '3 of 78', '40-54', '1 of 27', '0:07', '18:22']
['4', '1223', 'PAUL TAYLOR', 'M', '54', 'PORTLAND', '18:31', '5:58', '4 of 78', '40-54', '2 of 27', '0:07', '18:38']
['5', '1245', 'THEO KINMAN', 'M', '22', '', '19:31', '6:17', '5 of 78', '21-39', '3 of 33', '0:09', '19:40']
['6', '1185', 'MELISSA GIRGIS', 'F', '27', 'PORTLAND', '19:39', '6:20', '1 of 113', '21-39', '1 of 53', '0:07', '19:46']
['7', '1251', 'CHARLIE COGGESHALL', 'M', '39', 'PORTLAND', '19:51', '6:24', '6 of 78', '21-39', '4 of 33', '0:10', '20:01']
['8', '1154', 'UNKNOWN RUNNER SEE TIMER', 'M', '', '', '24:58', '8:03', '7 of 78', '', '1 of 9', '2:00', '26:58']
['9', '1163', 'UNKNOWN RUNNER SEE TIMER', 'M', '', '', '25:01', '8:04', '8 of 78', '', '2 of 9', '1:59', '27:00']
['10', '1242', 'KIMONTI WILSON', 'F', '48', '', '25:01', '8:04', '2 of 113', '40-54', '1 of 37', '1:59', '27:00']
['11', '1017', 'COREY MCMANUS', 'M', '37', 'BEAVERTON', '25:17', '8:09', '9 of 78', '21-39', '5 of 33', '0:22', '25:39']
['12', '1112', 'MITCHELL JOHNSON', 'M', '25', 'PORTLAND', '25:31', '8:13', '10 of 78', '21-39', '6 of 33', '0:15', '25:46']
['13', '1062', 'ALEX KABA', 'M', '36', 'PORTLAND', '25:31', '8:14', '11 of 78', '21-39', '7 of 33', '0:14', '25:45']
['14', '1227', 'ROBYN MCGILLIS', 'F', '44', 'PORTLAND', '25:44', '8:18', '3 of 113', '40-54', '2 of 37', '0:08', '25:52']
['15', '1067', 'MITCHELL WARDEN', 'M', '29', 'PORTLAND', '25:46', '8:19', '12 of 78', '21-39', '8 of 33', '0:14', '26:00']
['16', '1136', 'JULIA METZ', 'F', '32', 'PORTLAND', '26:31', '8:33', '4 of 113', '21-39', '2 of 53', '0:33', '27:04']
['17', '1199', 'JEREMY AREZZINI', 'M', '38', 'LAKE OSWEGO', '26:44', '8:37', '13 of 78', '21-39', '9 of 33', '0:41', '27:25']
['18', '1252', 'ETHAN POWELL', 'M', '', '', '26:52', '8:40', '14 of 78', '', '3 of 9', '0:11', '27:03']
['19', '1231', 'TIMOTHY KEARNEY', 'M', '42', 'PORTLAND', '26:58', '8:42', '15 of 78', '40-54', '3 of 27', '0:11', '27:09']
['20', '1108', 'TIMOTHY RINGERING', 'M', '50', 'VANCOUVER', '27:02', '8:43', '16 of 78', '40-54', '4 of 27', '0:10', '27:12']
['21', '1118', 'PONTUS JADERHOLM', 'M', '43', 'PORTLAND', '27:08', '8:45', '17 of 78', '40-54', '5 of 27', '0:13', '27:21']
['22', '1246', 'KERRY FLAGG', 'M', '', '', '27:10', '8:45', '18 of 78', '', '4 of 9', '0:10', '27:20']
['23', '1244', 'JARRED FLAGG', 'M', '', '', '27:11', '8:46', '19 of 78', '', '5 of 9', '0:10', '27:21']
['24', '1224', 'KEN SKEEN', 'M', '57', 'PORTLAND', '27:12', '8:46', '20 of 78', '55+', '1 of 5', '0:18', '27:30']
['25', '1065', 'SARA KOPTON', 'F', '40', 'PORTLAND', '27:27', '8:51', '5 of 113', '40-54', '3 of 37', '0:20', '27:47']
['26', '1274', 'KAISER GUEST', 'F', '40', 'PORTLAND', '27:37', '8:54', '6 of 113', '40-54', '4 of 37', '0:09', '27:46']
['27', '1208', 'JUSTIN PERZ', 'M', '33', 'PORTLAND', '27:39', '8:55', '21 of 78', '21-39', '10 of 33', '0:38', '28:17']
['28', '1072', 'ESTELA S√ÅNCHEZ', 'F', '41', 'PORTLAND', '27:45', '8:57', '7 of 113', '40-54', '5 of 37', '0:08', '27:53']
['29', '1018', 'JASON WILLIAMS', 'M', '41', 'PORTLAND', '27:50', '8:58', '22 of 78', '40-54', '6 of 27', '0:23', '28:13']
['30', '1297', 'ADRIANA BRITTON', 'F', '53', 'PORTLAND', '27:54', '9:00', '8 of 113', '40-54', '6 of 37', '0:12', '28:06']
['31', '1117', 'MARK WOOD', 'M', '43', 'PORTLAND', '28:05', '9:03', '23 of 78', '40-54', '7 of 27', '0:30', '28:35']
['32', '1201', 'STEVE CRANDELL', 'M', '61', 'PORTLAND', '28:06', '9:03', '24 of 78', '55+', '2 of 5', '0:09', '28:15']
['33', '1110', 'DARRELL KRIECHBAUM', 'M', '53', 'PORTLAND', '28:11', '9:05', '25 of 78', '40-54', '8 of 27', '0:12', '28:23']
['34', '1104', 'JANICE JACOBS', 'F', '55', 'SALEM', '28:11', '9:05', '9 of 113', '55+', '1 of 14', '0:15', '28:26']
['35', '1300', 'CORY ANDERSON', 'M', '30', 'PORTLAND', '28:14', '9:06', '26 of 78', '21-39', '11 of 33', '0:19', '28:33']
['36', '1238', 'PAUL SUMMERS', 'M', '24', 'PORTLAND', '28:21', '9:08', '27 of 78', '21-39', '12 of 33', '0:15', '28:36']
['37', '1298', 'ALEX NGUYEN', 'M', '26', '', '28:22', '9:09', '28 of 78', '21-39', '13 of 33', '0:19', '28:41']
['38', '1157', 'JEREMY SWEET', 'M', '27', 'PORTLAND', '28:32', '9:12', '29 of 78', '21-39', '14 of 33', '0:20', '28:52']
['39', '1106', 'DANIEL JOHNSTON', 'M', '43', 'PORTLAND', '28:32', '9:12', '30 of 78', '40-54', '9 of 27', '0:12', '28:44']
['40', '1196', 'LIZANN DUNEGAN', 'F', '53', 'PORTLAND', '28:34', '9:13', '10 of 113', '40-54', '7 of 37', '0:14', '28:48']
['41', '1239', 'ALYX WYNN', 'F', '28', 'PORTLAND', '28:37', '9:14', '11 of 113', '21-39', '3 of 53', '0:21', '28:58']
['42', '1087', 'YALOUNDA HUNT', 'F', '60', 'PORTLAND', '28:40', '9:14', '12 of 113', '55+', '2 of 14', '0:09', '28:49']
['43', '1068', 'SERGIO RIVERA', 'M', '32', 'PORTLAND', '28:41', '9:15', '31 of 78', '21-39', '15 of 33', '0:21', '29:02']
['44', '1071', 'PEDRO FLORES', 'M', '42', 'PORTLAND', '28:42', '9:15', '32 of 78', '40-54', '10 of 27', '0:08', '28:50']
['45', '1159', 'JEFF DOWNEY', 'M', '36', 'PORTLAND', '28:42', '9:15', '33 of 78', '21-39', '16 of 33', '0:19', '29:01']
['46', '1241', 'NICK SCHUDER', 'M', '44', 'PORTLAND', '28:45', '9:16', '34 of 78', '40-54', '11 of 27', '0:18', '29:03']
['47', '1023', 'JOHN GARDNER', 'M', '44', 'PORTLAND', '28:51', '9:18', '35 of 78', '40-54', '12 of 27', '0:25', '29:16']
['48', '1253', 'JAZMIN BEMBRY', 'F', '23', 'PORTLAND', '28:56', '9:20', '13 of 113', '21-39', '4 of 53', '0:15', '29:11']
['49', '1247', 'THEO KINWAN', 'F', '', '', '29:09', '9:24', '14 of 113', '', '6 of 9', '0:10', '29:19']
['50', '1019', 'ERIKA TURNEY', 'F', '46', 'BATTLE GROUNDB', '29:10', '9:24', '15 of 113', '40-54', '8 of 37', '0:24', '29:34']
['51', '1066', 'MICHELLE FRAZIER', 'F', '27', 'PORTLAND', '29:12', '9:25', '16 of 113', '21-39', '5 of 53', '0:13', '29:25']
['52', '1151', 'CHRISTINA LECHER', 'F', '31', 'MILWAUKEE', '29:21', '9:28', '17 of 113', '21-39', '6 of 53', '0:18', '29:39']
['53', '1152', 'BERNARD RAHMING', 'M', '31', 'PORTLAND', '29:21', '9:28', '36 of 78', '21-39', '17 of 33', '0:18', '29:39']
['54', '1095', 'TROY PICKARD', 'M', '36', 'PORTLAND', '29:22', '9:28', '37 of 78', '21-39', '18 of 33', '0:44', '30:06']
['55', '1028', 'JONATHAN TILLMAN', 'M', '49', 'PORTLAND', '29:23', '9:28', '38 of 78', '40-54', '13 of 27', '0:24', '29:47']
['56', '1174', 'CYNJAYSHA BOLES', 'F', '26', 'PORTLAND', '29:46', '9:36', '18 of 113', '21-39', '7 of 53', '0:09', '29:55']
['57', '1013', 'TERESA MCGRATH', 'F', '65', 'PORTLAND', '29:51', '9:37', '19 of 113', '55+', '3 of 14', '0:10', '30:01']
['58', '1237', 'ERYN HOERSTER', 'F', '37', 'PORTLAND', '30:41', '9:53', '20 of 113', '21-39', '8 of 53', '0:40', '31:21']
['59', '1230', 'EDUARDO ARIZAGA', 'M', '38', 'PORTLAND', '30:55', '9:58', '39 of 78', '21-39', '19 of 33', '0:47', '31:42']
['60', '1236', 'BEN HOERSTER', 'M', '37', 'PORTLAND', '31:29', '10:09', '40 of 78', '21-39', '20 of 33', '0:43', '32:12']
['61', '1125', 'ABIGAIL VAN GELDER', 'F', '36', 'PORTLAND', '31:37', '10:12', '21 of 113', '21-39', '9 of 53', '0:16', '31:53']
['62', '1053', 'DAMIANA KING', 'F', '38', 'PORTLAND', '32:02', '10:20', '22 of 113', '21-39', '10 of 53', '0:12', '32:14']
['63', '1010', 'HEATHER CERMAK', 'F', '29', 'PORTLAND', '32:11', '10:23', '23 of 113', '21-39', '11 of 53', '0:41', '32:52']
['64', '1011', 'COLE CHRIST', 'M', '19', 'PORTLAND', '32:11', '10:23', '41 of 78', '20', '1 of 7', '0:42', '32:53']
['65', '1179', 'MIRIAN HINOJOSA', 'F', '40', 'MILWAUKIE', '32:48', '10:34', '24 of 113', '40-54', '9 of 37', '0:14', '33:02']
['66', '1183', 'CAMERON SEIDLING', 'M', '28', 'PORTLAND', '33:16', '10:44', '42 of 78', '21-39', '21 of 33', '0:37', '33:53']
['67', '1137', 'LARRY JENKINS', 'M', '31', 'PORTLAND', '33:16', '10:44', '43 of 78', '21-39', '22 of 33', '0:34', '33:50']
['68', '1173', 'ALYS MEYER', 'F', '12', 'PORTLAND', '33:33', '10:49', '25 of 113', '20', '1 of 6', '0:27', '34:00']
['69', '1103', 'SARAH MEYER', 'F', '34', 'PORTLAND', '33:36', '10:50', '26 of 113', '21-39', '12 of 53', '0:26', '34:02']
['70', '1100', 'ELIZABETH TAYLOR', 'F', '39', 'PORTLAND', '33:40', '10:51', '27 of 113', '21-39', '13 of 53', '0:37', '34:17']
['71', '1190', 'RICARDO BARRERA', 'M', '45', 'PORTLAND', '34:00', '10:58', '44 of 78', '40-54', '14 of 27', '0:29', '34:29']
['72', '1127', 'MOIRA SHERRY', 'F', '24', 'PORTLAND', '34:14', '11:02', '28 of 113', '21-39', '14 of 53', '0:19', '34:33']
['73', '1299', 'BRYNDON COUGHLIN', 'M', '27', 'PORTLAND', '34:16', '11:03', '45 of 78', '21-39', '23 of 33', '0:44', '35:00']
['74', '1261', 'CHADI BOTRNS', 'M', '', '', '34:19', '11:04', '46 of 78', '', '7 of 9', '0:30', '34:49']
['75', '1006', 'HELEN SHARP', 'F', '53', 'FOREST GROVE', '34:32', '11:08', '29 of 113', '40-54', '10 of 37', '0:16', '34:48']
['76', '1165', 'CLAYTON BELL', 'M', '40', 'PORTLAND', '34:38', '11:10', '47 of 78', '40-54', '15 of 27', '0:18', '34:56']
['77', '1219', 'PATRICIA ENGLE', 'F', '43', 'PORTLAND', '34:42', '11:11', '30 of 113', '40-54', '11 of 37', '0:30', '35:12']
['78', '1200', 'BEN KLEVIT', 'M', '53', 'LAKE OSWEGO', '34:49', '11:13', '48 of 78', '40-54', '16 of 27', '0:39', '35:28']
['79', '1132', 'KAYLEN GIBBENS', 'F', '41', 'HILLSBORO', '34:54', '11:15', '31 of 113', '40-54', '12 of 37', '0:20', '35:14']
['80', '1122', 'AUGUST EPSTEIN', 'M', '26', 'PORTLAND', '35:57', '11:36', '49 of 78', '21-39', '24 of 33', '0:12', '36:09']
['81', '1121', 'SAMANTHA PINKERTON', 'F', '26', 'PORTLAND', '35:58', '11:36', '32 of 113', '21-39', '15 of 53', '0:12', '36:10']
['82', '1107', 'NICOLE SCHULMERICH', 'F', '33', 'PORTLAND', '36:10', '11:40', '33 of 113', '21-39', '16 of 53', '0:27', '36:37']
['83', '1056', 'MARYJANE YACOBY', 'F', '35', 'VANCOUVER', '36:53', '11:54', '34 of 113', '21-39', '17 of 53', '0:22', '37:15']
['84', '1057', 'JOEL YACOBY', 'M', '40', 'VANCOUVER', '36:56', '11:54', '50 of 78', '40-54', '17 of 27', '0:22', '37:18']
['85', '1055', 'JILL TIMSHEL', 'F', '39', 'BATTLE GROUND', '36:56', '11:55', '35 of 113', '21-39', '18 of 53', '0:23', '37:19']
['86', '1022', 'CHRISTIE VANG', 'F', '32', 'PORTLAND', '37:02', '11:57', '36 of 113', '21-39', '19 of 53', '0:29', '37:31']
['87', '1192', 'JUNE REYES', 'F', '30', 'PORTLAND', '37:18', '12:02', '37 of 113', '21-39', '20 of 53', '0:20', '37:38']
['88', '1078', 'FRED SMITH', 'M', '46', 'PORTLAND', '38:06', '12:17', '51 of 78', '40-54', '18 of 27', '0:18', '38:24']
['89', '1077', 'BRIANNA MILLER', 'F', '25', 'PORTLAND', '38:15', '12:20', '38 of 113', '21-39', '21 of 53', '0:26', '38:41']
['90', '1073', 'RA√öL ROMERO', 'M', '42', 'PORTLAND', '38:23', '12:23', '52 of 78', '40-54', '19 of 27', '0:00', '38:23']
['91', '1134', 'AMANDA MATLIN', 'F', '36', 'PORTLAND', '39:17', '12:40', '39 of 113', '21-39', '22 of 53', '0:35', '39:52']
['92', '1096', 'SHAYLA VELASQUEZ', 'F', '28', 'TROUTDALEUTDALE', '39:18', '12:40', '40 of 113', '21-39', '23 of 53', '0:26', '39:44']
['93', '1195', 'PEYTON VELASQUEZ', 'M', '9', 'TROUTDALEUTDALE', '39:18', '12:40', '53 of 78', '20', '2 of 7', '0:26', '39:44']
['94', '1176', 'JOSHUA BRUNO', 'M', '40', 'PORTLAND', '39:20', '12:41', '54 of 78', '40-54', '20 of 27', '0:33', '39:53']
['95', '1064', 'DANIALE LYNCH', 'F', '39', 'PORTLAND', '39:28', '12:44', '41 of 113', '21-39', '24 of 53', '0:22', '39:50']
['96', '1189', 'SHAYLA TURNER', 'F', '33', 'PORTLAND', '39:30', '12:44', '42 of 113', '21-39', '25 of 53', '0:18', '39:48']
['97', '1177', 'MELITA LYNCH', 'F', '22', 'PORTLAND', '39:55', '12:52', '43 of 113', '21-39', '26 of 53', '0:23', '40:18']
['98', '1178', 'DEVON WONG', 'M', '26', 'PORTLAND', '39:55', '12:52', '55 of 78', '21-39', '25 of 33', '0:23', '40:18']
['99', '1184', 'KELLY BUCHANAN', 'F', '28', 'PORTLAND', '40:03', '12:55', '44 of 113', '21-39', '27 of 53', '0:36', '40:39']
['100', '1029', 'MOLLI MITCHELL', 'F', '36', 'PORTLAND', '40:21', '13:01', '45 of 113', '21-39', '28 of 53', '0:30', '40:51']
['101', '1158', 'JAYMES LATIMER', 'M', '27', 'PORTLAND', '40:50', '13:10', '56 of 78', '21-39', '26 of 33', '0:19', '41:09']
['102', '1296', 'SUE ANN HIGGENS', 'F', '57', 'PORTLAND', '41:15', '13:18', '46 of 113', '55+', '4 of 14', '0:17', '41:32']
['103', '1020', 'NAT KIM', 'F', '38', 'PORTLAND', '41:21', '13:20', '47 of 113', '21-39', '29 of 53', '0:10', '41:31']
['104', '1052', 'BETH BOGDEWIECZ', 'F', '37', 'PORTLAND', '41:50', '13:29', '48 of 113', '21-39', '30 of 53', '0:27', '42:17']
['105', '1051', 'AMBER BOGDEWIECZ', 'F', '38', 'PORTLAND', '41:50', '13:29', '49 of 113', '21-39', '31 of 53', '0:27', '42:17']
['106', '1069', 'PAM CROW', 'F', '61', 'PORTLAND', '42:04', '13:34', '50 of 113', '55+', '5 of 14', '0:23', '42:27']
['107', '1076', 'MARLON BROUSSARD', 'M', '47', 'PORTLAND', '42:21', '13:39', '57 of 78', '40-54', '21 of 27', '0:19', '42:40']
['108', '1070', 'HAILEI ABERSON', 'F', '23', 'PORTLAND', '43:01', '13:52', '51 of 113', '21-39', '32 of 53', '0:24', '43:25']
['109', '1166', 'GRACE MCBARRON', 'F', '23', 'PORTLAND', '43:01', '13:52', '52 of 113', '21-39', '33 of 53', '0:25', '43:26']
['110', '1164', 'AMIYAH HOLFORD', 'F', '15', 'PORTLAND', '43:07', '13:54', '53 of 113', '20', '2 of 6', '0:25', '43:32']
['111', '1222', 'KENNETH MARSHALL', 'M', '26', 'VANCOUVER', '43:20', '13:58', '58 of 78', '21-39', '27 of 33', '0:11', '43:31']
['112', '1097', 'VERNA MARSHALL', 'F', '64', 'CAMAS', '43:20', '13:59', '54 of 113', '55+', '6 of 14', '0:12', '43:32']
['113', '1101', 'ERIN SCHWARZ', 'F', '29', 'PORTLAND', '43:50', '14:08', '55 of 113', '21-39', '34 of 53', '0:37', '44:27']
['114', '1144', 'KIMBERLEY JACKSON', 'F', '51', 'PORTLAND', '44:46', '14:26', '56 of 113', '40-54', '13 of 37', '0:32', '45:18']
['115', '1007', 'KYLE NEWELL', 'M', '57', 'PORTLAND', '44:58', '14:30', '59 of 78', '55+', '3 of 5', '0:31', '45:29']
['116', '1229', 'KAREN FOSTER', 'F', '39', 'PORTLAND', '45:06', '14:32', '57 of 113', '21-39', '35 of 53', '0:13', '45:19']
['117', '1005', 'DELIA GRENVILLE', 'F', '52', 'PORTLAND', '45:10', '14:34', '58 of 113', '40-54', '14 of 37', '0:15', '45:25']
['118', '1295', 'THOMAS RUKS', 'M', '50', 'PORTLAND', '45:15', '14:36', '60 of 78', '40-54', '22 of 27', '0:37', '45:52']
['119', '1054', 'TRACY BOWLES', 'F', '38', 'PORTLAND', '46:17', '14:55', '59 of 113', '21-39', '36 of 53', '0:23', '46:40']
['120', '1262', 'KARI SCHLINKMEIER', 'F', '', '', '47:28', '15:18', '60 of 113', '', '8 of 9', '0:13', '47:41']
['121', '1024', 'CINZIA CORIO-HOLMAN', 'F', '52', 'PORTLAND', '47:41', '15:22', '61 of 113', '40-54', '15 of 37', '0:23', '48:04']
['122', '1088', 'GALEN HARDEN', 'M', '52', 'PORTLAND', '47:56', '15:27', '61 of 78', '40-54', '23 of 27', '0:17', '48:13']
['123', '1059', 'AMIYAH BERRY', 'F', '9', 'PORTLAND', '48:00', '15:29', '62 of 113', '20', '3 of 6', '0:31', '48:31']
['124', '1014', 'DESIREE VIELMETTI', 'F', '34', 'PORTLAND', '48:02', '15:29', '63 of 113', '21-39', '37 of 53', '0:29', '48:31']
['125', '1015', 'BRITTANY BERRY HILL', 'F', '29', 'PORTLAND', '48:03', '15:30', '64 of 113', '21-39', '38 of 53', '0:31', '48:34']
['126', '1035', 'JESSE CHRISTENSON', 'M', '37', 'PORTLAND', '48:07', '15:31', '62 of 78', '21-39', '28 of 33', '0:30', '48:37']
['127', '1172', 'LOUISE MOROZ', 'F', '48', 'PEORIA', '48:26', '15:37', '65 of 113', '40-54', '16 of 37', '0:44', '49:10']
['128', '1012', 'MEREDITH BOWIE', 'F', '37', 'SHERWOOD', '48:28', '15:38', '66 of 113', '21-39', '39 of 53', '0:43', '49:11']
['129', '1248', 'TERI UNTALAN', 'F', '51', 'PORTLAND', '49:20', '15:54', '67 of 113', '40-54', '17 of 37', '0:27', '49:47']
['130', '1249', 'SAM MCKINSTRY', 'M', '33', 'PORTLAND', '49:20', '15:54', '63 of 78', '21-39', '29 of 33', '0:26', '49:46']
['131', '1131', 'MARGARET PETERSEN', 'F', '13', 'VANCOUVER', '51:20', '16:33', '68 of 113', '20', '4 of 6', '0:36', '51:56']
['132', '1188', 'BARBARA WOODFORD', 'F', '65', 'PORTLAND', '51:21', '16:33', '69 of 113', '55+', '7 of 14', '0:39', '52:00']
['133', '1130', 'DAVID PETERSEN', 'M', '43', 'VANCOUVER', '51:21', '16:34', '64 of 78', '40-54', '24 of 27', '0:36', '51:57']
['134', '1187', 'TOM KELLY', 'M', '67', 'PORTLAND', '51:24', '16:35', '65 of 78', '55+', '4 of 5', '0:38', '52:02']
['135', '1039', 'BRIONA HILL', 'F', '21', 'PORTLAND', '51:36', '16:38', '70 of 113', '21-39', '40 of 53', '0:32', '52:08']
['136', '1044', 'MICHELE CRUSE', 'F', '45', 'VANCOUVER', '51:43', '16:41', '71 of 113', '40-54', '18 of 37', '0:34', '52:17']
['137', '1045', 'MICHAEL CRUSE', 'F', '51', 'VANCOUVER', '52:18', '16:52', '72 of 113', '40-54', '19 of 37', '0:36', '52:54']
['138', '1141', 'ALLYSON PRENTICE', 'F', '56', 'GLADSTONE', '52:58', '17:05', '73 of 113', '55+', '8 of 14', '0:19', '53:17']
['139', '1140', 'DAPHNE TENNYSON', 'F', '30', 'PORTLAND', '52:59', '17:05', '74 of 113', '21-39', '41 of 53', '0:20', '53:19']
['140', '1198', 'BRITTANY MASHIA', 'F', '23', 'PORTLAND', '53:13', '17:10', '75 of 113', '21-39', '42 of 53', '0:38', '53:51']
['141', '1214', 'AVERY WIESLER', 'M', '11', '', '53:30', '17:15', '66 of 78', '20', '3 of 7', '0:32', '54:02']
['142', '1215', 'ELISE HENDRICKSON', 'F', '48', '', '53:31', '17:15', '76 of 113', '40-54', '20 of 37', '0:31', '54:02']
['143', '1133', 'AJIANNAH TURNER', 'F', '13', 'PORTLAND', '53:33', '17:16', '77 of 113', '20', '5 of 6', '0:28', '54:01']
['144', '1250', 'KIM ONTI WILSON', 'F', '', '', '54:53', '17:42', '78 of 113', '', '9 of 9', '0:13', '55:06']
['145', '1228', 'KAMELAH ADAMS', 'F', '38', 'PORTLAND', '54:55', '17:43', '79 of 113', '21-39', '43 of 53', '0:13', '55:08']
['146', '1243', 'KATHY RUSSELL', 'F', '60', 'PORTLAND', '55:22', '17:51', '80 of 113', '55+', '9 of 14', '0:17', '55:39']
['147', '1060', 'KARIN PRICE', 'F', '38', 'VANCOUVER', '57:16', '18:28', '81 of 113', '21-39', '44 of 53', '0:32', '57:48']
['148', '1009', 'PATRICIA SNYDER', 'F', '73', 'GLADSTONE', '58:27', '18:51', '82 of 113', '55+', '10 of 14', '0:34', '59:01']
['149', '1008', 'SANDIE KIEHL', 'F', '71', 'GLADSTONE', '58:28', '18:51', '83 of 113', '55+', '11 of 14', '0:34', '59:02']
['150', '1218', 'JESSIE RICKER', 'F', '33', 'PORTLAND', '59:20', '19:08', '84 of 113', '21-39', '45 of 53', '0:36', '59:56']
['151', '1217', 'LETICIA FOWLER', 'F', '34', 'PORTLAND', '59:22', '19:09', '85 of 113', '21-39', '46 of 53', '0:35', '59:57']
['152', '1206', 'LISA WILLIAMS', 'F', '48', 'PORTLAND', '59:58', '19:20', '86 of 113', '40-54', '21 of 37', '0:33', '1:00:31']
['153', '1205', 'ANDREA DEBNAM', 'F', '45', 'PORTLAND', '1:00:01', '19:21', '87 of 113', '40-54', '22 of 37', '0:32', '1:00:33']
['154', '1147', 'KYM USSING', 'F', '47', 'PORTLAND', '1:00:08', '19:23', '88 of 113', '40-54', '23 of 37', '0:29', '1:00:37']
['155', '1129', 'HEATHER ROSENTHAL', 'F', '53', 'PORTLAND', '1:00:09', '19:24', '89 of 113', '40-54', '24 of 37', '0:27', '1:00:36']
['156', '1211', 'ARMISSA LYLES', 'F', '44', 'GRESHAM', '1:00:16', '19:26', '90 of 113', '40-54', '25 of 37', '0:22', '1:00:38']
['157', '1210', 'ANGELA PLEDGER', 'F', '49', 'GRESHAM', '1:00:17', '19:26', '91 of 113', '40-54', '26 of 37', '0:21', '1:00:38']
['158', '1091', 'CARLOS LASUNCET', 'M', '44', 'BEAVERTON', '1:00:24', '19:29', '67 of 78', '40-54', '25 of 27', '0:42', '1:01:06']
['159', '1093', 'MARISOL LASUNCET', 'M', '9', '', '1:00:24', '19:29', '68 of 78', '20', '4 of 7', '0:41', '1:01:05']
['160', '1092', 'DAWNNESHA LASUNCET', 'F', '43', '', '1:00:27', '19:30', '92 of 113', '40-54', '27 of 37', '0:40', '1:01:07']
['161', '1109', 'JACQUELINE PAUL', 'F', '47', 'PORTLAND', '1:00:46', '19:36', '93 of 113', '40-54', '28 of 37', '0:17', '1:01:03']
['162', '1138', 'KAYLA PAUL', 'F', '27', 'PORTLAND', '1:00:48', '19:36', '94 of 113', '21-39', '47 of 53', '0:17', '1:01:05']
['163', '1259', 'RICO GARCIA', 'M', '17', '', '1:00:48', '19:36', '69 of 78', '20', '5 of 7', '0:29', '1:01:17']

In [144]:
contestant_df = pd.DataFrame(contestantData)

contestant_df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1,1191,MAX RANDOLPH,M,29,WASHINGTON,16:48,5:25,1 of 78,21-39,1 of 33,0:08,16:56
1,2,1080,NEED NAME KAISER RUNNER,M,25,PORTLAND,17:31,5:39,2 of 78,21-39,2 of 33,0:09,17:40
2,3,1275,DAN FRANEK,M,52,PORTLAND,18:15,5:53,3 of 78,40-54,1 of 27,0:07,18:22
3,4,1223,PAUL TAYLOR,M,54,PORTLAND,18:31,5:58,4 of 78,40-54,2 of 27,0:07,18:38
4,5,1245,THEO KINMAN,M,22,,19:31,6:17,5 of 78,21-39,3 of 33,0:09,19:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,187,1254,CYNTHIA HARRIS,F,64,PORTLAND,1:07:51,21:53,110 of 113,55+,14 of 14,1:19,1:09:10
187,188,1085,EBONY LAWRENCE,F,30,PORTLAND,1:08:12,22:00,111 of 113,21-39,53 of 53,0:58,1:09:10
188,189,1170,ANTHONY WILLIAMS,M,39,PORTLAND,1:09:11,22:19,78 of 78,21-39,33 of 33,0:08,1:09:19
189,190,2087,LEESHA POSEY,F,43,PORTLAND,1:33:53,30:17,112 of 113,40-54,36 of 37,0:00,1:33:53
190,191,1216,ZULMA OCHOA,F,40,GRESHAM,1:43:27,33:22,113 of 113,40-54,37 of 37,0:00,1:43:27

In [150]:
contestant_df = pd.DataFrame(contestantData)
# contestant_df.columns['Place', 'Bib ID', 'Name', 'Gender', 'Age', 'City', 'Chip Time', 'Chip Pace', 'Gender Rank', 'Age Group', 'Age Group Rank', 'Time to Start', 'Gun Time']

contestant_df.to_csv('RaceData.csv',index=False)

In [183]:
contestant_df = pd.read_csv('RaceData.csv')

contestant_df.head()

,Position,Bib,Name,Gender,Age,City,Chip Time,Chip Pace,Gender Position,Age Group,Age Group Position,Time to Start,Gun Time
0,1,1191,MAX RANDOLPH,M,29.0,WASHINGTON,16:48,5:25,1 of 78,21-39,1 of 33,0:08,16:56
1,2,1080,NEED NAME KAISER RUNNER,M,25.0,PORTLAND,17:31,5:39,2 of 78,21-39,2 of 33,0:09,17:40
2,3,1275,DAN FRANEK,M,52.0,PORTLAND,18:15,5:53,3 of 78,40-54,1 of 27,0:07,18:22
3,4,1223,PAUL TAYLOR,M,54.0,PORTLAND,18:31,5:58,4 of 78,40-54,2 of 27,0:07,18:38
4,5,1245,THEO KINMAN,M,22.0,NaN,19:31,6:17,5 of 78,21-39,3 of 33,0:09,19:40

In [156]:
contestant_df.tail()

,Position,Bib,Name,Gender,Age,City,Chip Time,Chip Pace,Gender Position,Age Group,Age Group Position,Time to Start,Gun Time
186,187,1254,CYNTHIA HARRIS,F,64.0,PORTLAND,1:07:51,21:53,110 of 113,55+,14 of 14,1:19,1:09:10
187,188,1085,EBONY LAWRENCE,F,30.0,PORTLAND,1:08:12,22:00,111 of 113,21-39,53 of 53,0:58,1:09:10
188,189,1170,ANTHONY WILLIAMS,M,39.0,PORTLAND,1:09:11,22:19,78 of 78,21-39,33 of 33,0:08,1:09:19
189,190,2087,LEESHA POSEY,F,43.0,PORTLAND,1:33:53,30:17:00,112 of 113,40-54,36 of 37,0:00,1:33:53
190,191,1216,ZULMA OCHOA,F,40.0,GRESHAM,1:43:27,33:22:00,113 of 113,40-54,37 of 37,0:00,1:43:27

In [153]:
contestant_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Position            191 non-null    int64
 1   Bib                 191 non-null    int64
 2   Name                191 non-null    object
 3   Gender              191 non-null    object
 4   Age                 182 non-null    float64
 5   City                170 non-null    object
 6   Chip Time           191 non-null    object
 7   Chip Pace           191 non-null    object
 8   Gender Position     191 non-null    object
 9   Age Group           182 non-null    object
 10  Age Group Position  191 non-null    object
 11  Time to Start       191 non-null    object
 12  Gun Time            191 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 19.5+ KB

In [184]:
contestant_df

,Position,Bib,Name,Gender,Age,City,Chip Time,Chip Pace,Gender Position,Age Group,Age Group Position,Time to Start,Gun Time
0,1,1191,MAX RANDOLPH,M,29.0,WASHINGTON,16:48,5:25,1 of 78,21-39,1 of 33,0:08,16:56
1,2,1080,NEED NAME KAISER RUNNER,M,25.0,PORTLAND,17:31,5:39,2 of 78,21-39,2 of 33,0:09,17:40
2,3,1275,DAN FRANEK,M,52.0,PORTLAND,18:15,5:53,3 of 78,40-54,1 of 27,0:07,18:22
3,4,1223,PAUL TAYLOR,M,54.0,PORTLAND,18:31,5:58,4 of 78,40-54,2 of 27,0:07,18:38
4,5,1245,THEO KINMAN,M,22.0,NaN,19:31,6:17,5 of 78,21-39,3 of 33,0:09,19:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,187,1254,CYNTHIA HARRIS,F,64.0,PORTLAND,1:07:51,21:53,110 of 113,55+,14 of 14,1:19,1:09:10
187,188,1085,EBONY LAWRENCE,F,30.0,PORTLAND,1:08:12,22:00,111 of 113,21-39,53 of 53,0:58,1:09:10
188,189,1170,ANTHONY WILLIAMS,M,39.0,PORTLAND,1:09:11,22:19,78 of 78,21-39,33 of 33,0:08,1:09:19
189,190,2087,LEESHA POSEY,F,43.0,PORTLAND,1:33:53,30:17:00,112 of 113,40-54,36 of 37,0:00,1:33:53
190,191,1216,ZULMA OCHOA,F,40.0,GRESHAM,1:43:27,33:22:00,113 of 113,40-54,37 of 37,0:00,1:43:27

In [185]:
contestant_df = contestant_df.dropna(how='any')
contestant_df.shape

(170, 13)

In [186]:
contestant_df.loc[0:6,'Chip Time'] = contestant_df.loc[0:6,'Chip Time'].apply(lambda x: str('00:' + x))

contestant_df['Chip Time']

0      00:16:48
1      00:17:31
2      00:18:15
3      00:18:31
5      00:19:39
         ...
186     1:07:51
187     1:08:12
188     1:09:11
189     1:33:53
190     1:43:27
Name: Chip Time, Length: 170, dtype: object

In [187]:
contestant_df['Chip Time'] = pd.to_timedelta(contestant_df['Chip Time'])

contestant_df['Chip Time']

C:\Users\SHANTANU\AppData\Local\Temp\ipykernel_7636\2047148637.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contestant_df['Chip Time'] = pd.to_timedelta(contestant_df['Chip Time'])

0     0 days 00:16:48
1     0 days 00:17:31
2     0 days 00:18:15
3     0 days 00:18:31
5     0 days 00:19:39
            ...
186   0 days 01:07:51
187   0 days 01:08:12
188   0 days 01:09:11
189   0 days 01:33:53
190   0 days 01:43:27
Name: Chip Time, Length: 170, dtype: timedelta64[ns]

In [190]:
contestant_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170 entries, 0 to 190
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Position            170 non-null    int64
 1   Bib                 170 non-null    int64
 2   Name                170 non-null    object
 3   Gender              170 non-null    object
 4   Age                 170 non-null    float64
 5   City                170 non-null    object
 6   Chip Time           170 non-null    timedelta64[ns]
 7   Chip Pace           170 non-null    object
 8   Gender Position     170 non-null    object
 9   Age Group           170 non-null    object
 10  Age Group Position  170 non-null    object
 11  Time to Start       170 non-null    object
 12  Gun Time            170 non-null    object
dtypes: float64(1), int64(2), object(9), timedelta64[ns](1)
memory usage: 22.7+ KB